* {
	margin:0;
	border:0;
	padding:0;
	font-family: 'Libre Baskerville', serif;
	position: relative;
}

body {
	background-color: #f4f1de;
}
.title_panel {
	color: #476a6f;
	border: 2px solid black;
}
.body_text {
	color: #232323;
	display: inline-block;
	width: 24%;
	/*border: 2px solid black;*/
}
.side_panel {
	padding: 10px;
	display:inline-block;
	float:right;
	height:250px;
	width: 22%;
	text-align: center;
	border: 1px solid #888888;
	border-radius: 5px;
	position: relative;
	right: 5px;
	overflow: hidden;
}
.side_panel img {
	background-position: center top;
	position: relative;
	tranform: scale(1);
	transition: transform .5s;
	border: 2px solid black;
}

.bottom_panel {
	display:inline-block;
	position:relative;
	width: 100%;
/*	border: 2px solid black;*/
	height: 50px;
	bottom: 0px;
}

.side_panel:hover {
	box-shadow: 4px 4px 1px 3px #888888;
	transition: box-shadow .5s;
}

.side_panel:hover img {
	max-height: 100px;
	transition: max-height .5s;
	transform: scale(.5);
	transition: transform .5s;
	
}

/*https://coolors.co/app/476a6f-f4f1de-3d2645-519e8a-232323*/
/*blueish/light cream/purplish/bluegreenish/fakeblack*/