* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Roboto", sans-serif;
	text-align: center;
}


.about_me img {
	width: 100%;
}


.wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: #f2f2f2;
}
h1 {
	color: transparent;
	height: 0px;
}

h2 {
	text-align: center;
	background-color: #148D55;
	color: #f2f2f2;
	font-size: 32px;
	padding: 20px 0px;
}

h3 {
	margin-bottom: 20px;
}

img {
	height:auto;
	max-width: 100%;
	border: 0px;
}

.header-bg {
	content: url("images/header-bg.png");
	width:90%;
}

.intro {
	background-color: #148D55;
}

.handwriting {
    content:url("images/intro_bg_2.png");
  }

.about_me {
	display: flex;
	width: 85%;
	margin: auto;
	background-color: #f2f2f2;
	padding-top: 20px;
}
.thirds {
	display: inline-block;
	width:25%;
	margin: auto;
}

.my_work {
	background-color: #f2f2f2;
}

.my_work h2 {
	margin: 20px 0px;
}

.project {
	width: 85%;
	display: flex;
	margin: auto;
}

.project > * {
	display: inline-block;
}


.project img {
	width:400px;
	height:400px;
}

.project > .thirds {
	transform:scale(.7);
}
.project_info {
	width: 65%;
	margin: auto;
}

.project_info > * {
	margin: auto 0;
	margin-bottom: 20px;
}

.contact_info {
	width: 70%;
	margin: auto;
	border: 1px solid red;
	text-align: left;
}

.contact_info  * {
	display:flex;
}
.contact_info img {
	width:100%;
}

.contact_info > * {
	margin:auto;
	display: inline-block;
}

.contact_icon {
	width:140px;
	height:140px;
	transform:scale(.6);
}

.skills {
	height: 80%;
}

.contact_wrapper * {
	background-color: #232323;
}
.contact-header {
	padding-top: 10vh;
	color: #f2f2f2;
	display: inline;
	text-align: center;

}
.contact_wrapper {
	height: 60vh;
	background-color: #148D55;
}

.nav {
	position: relative;
    bottom: 10vh;
    background-color:rgba(242, 242, 242, 0);
    text-align: right;
    height:0;
    width:50%;
    float:right;
}

.nav > * {
	position:relative;
	height:auto;
	max-width:100%;
	margin: 0;
	margin-right: 7%;
	display: inline-block;
	background-color:rgba(242, 242, 242, 0);
}

.nav img {
	max-width:100%;
}

.nav > * :hover {
}

.link {
	max-width:100%;
}

.handwriting {
	transform:scale(.93);
}


/*this is where I make the mobile site
*/
@media screen and (max-width: 414px) {
  .handwriting {
    content:url("images/intro_bg_mobile.png");
  }
  .about_me {
  	display: inline;
  }
  .thirds {
  	width:90%;
  	margin: auto;
  }
  .project * {
  	display:inline;
  	width:auto;
  }
  .project > * {
  	width:90%;
  }
  .project {
  	display:inline;
  }
}
/*this is where i am testing fixed header stuff
*/

/*.top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  }
*/


header {
  position: relative;
  width: 100%;
  height: 0px;
  background-color: #148D55;
  overflow: hidden;
}

header.clone {
  position: fixed;
  top: -150px;
  left: 0;
  right: 0;
  height:auto;
  z-index: 999;
  transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
  background-image: linear-gradient(-180deg, #148D55 0%, #148D55 95%, #065430 100%);
  overflow:initial;
}

body.down header.clone {
  top: 0;
}

/*this is where i will test things for deletion
*/
